.admin-container {
  display: flex;
  height: 100vh;
  background: #f4f6f8;
}

/* MAIN */
.admin-main {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

/* BANNER */
.banner {
  background: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470");
  background-size: cover;
  background-position: center;
  height: 180px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: white;
  margin-bottom: 25px;
  position: relative;
}

.profile {
  width: 70px;
  position: absolute;
  right: 25px;
  top: 25px;
}

/* GRID */
.about-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* CARDS */
.about-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.about-card.full {
  grid-column: span 2;
}

.contact {
  border: 2px solid #198754;
}

.mt {
  margin-top: 15px;
}