.booking-layout{
display:flex;
gap:30px;
}

.booking-left{
flex:2;
}

.booking-right{
flex:1;
}

.booking-card{
background:#e4e6e4;
padding:30px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:15px;
}

.booking-card input,
.booking-card textarea{
padding:12px;
border-radius:10px;
border:1px solid #ccc;
font-size:14px;
outline:none;
}

.booking-card textarea{
height:90px;
resize:none;
}

.confirm-btn{
margin-top:10px;
background:#2a8153;
color:white;
border:none;
padding:14px;
border-radius:12px;
font-size:16px;
cursor:pointer;
transition:.3s;
}

.confirm-btn:hover{
background:#1a4f36;
}

.summary-card{
background:#e4e6e4;
padding:25px;
border-radius:20px;
line-height:1.8;
}

.price-box{
margin-top:15px;
background:#2a8153;
color:white;
padding:15px;
border-radius:12px;
font-size:20px;
text-align:center;
font-weight:bold;
}