html, body {

  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;

}



.register-container {

  height: 100vh;
  width: 100vw;

  background-image: url("/Images/Login_Img.jpeg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

}



.register-box {

  width: 420px;
  padding: 45px;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(25px);

  border: 1px solid rgba(255,255,255,0.3);

  box-shadow: 0 8px 32px rgba(0,0,0,0.3);

}



.title {

  text-align: center;
  margin-bottom: 20px;

}



.radio-group {

  margin-bottom: 15px;

}



.input-group {

  margin-bottom: 12px;

}



.input-group input {

  width: 100%;
  padding: 12px;

  border-radius: 25px;

  border: 1px solid rgba(255,255,255,0.4);

  background: rgba(255,255,255,0.12);

}



.register-btn {

  width: 100%;
  padding: 13px;

  margin-top: 10px;

  background: rgba(46,125,91,0.9);

  color: white;

  border: none;
  border-radius: 25px;

  cursor: pointer;

}



.login-link {

  text-align: center;
  margin-top: 18px;

}



.login-link span {

  margin-left: 8px;

  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;

}



/* POPUP CSS ADDED */

.popup {

  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

}



.popup-box {

  background: white;

  padding: 25px;

  border-radius: 10px;

  text-align: center;

  width: 250px;

}



.popup-box h3 {

  margin: 0;
  margin-bottom: 10px;

}



.popup-box button {

  margin-top: 10px;

  padding: 8px 20px;

  background: #2e7d5b;

  color: white;

  border: none;

  border-radius: 5px;

  cursor: pointer;

}